{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">榜单监控</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        网易云音乐榜单
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/chart/nem_rise">云音乐飙升榜</a>
                                        <a class="dropdown-item" href="/chart/nem_new">云音乐新歌榜</a>
                                        <a class="dropdown-item" href="/chart/nem_original">网易原创歌曲榜</a>
                                        <a class="dropdown-item" href="/chart/nem_hot">云音乐热歌榜</a>
                                        <div class="dropdown-divider"></div>
                                </div>
                        </li>

                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        QQ 音乐巅峰榜
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/chart/qq_trends">流行指数</a>
                                        <a class="dropdown-item" href="/chart/qq_hot">热歌</a>
                                        <a class="dropdown-item" href="/chart/qq_new">新歌</a>
                                        <a class="dropdown-item" href="/chart/qq_original">腾讯音乐人原创榜</a>
                                        <div class="dropdown-divider"></div>
                                </div>
                        </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                        <input id="datepicker" class="form-control mr-sm-2" type="search" placeholder="选择日期"
                                aria-label="Search">
                        <script>
                                $('#datepicker').datepicker({
                                        uiLibrary: 'bootstrap4'
                                });
                        </script>
                        <button style='color:darkgray' class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
                </form>
        </div>
</nav>
{% endblock %}