{% block songlist %}
<div class="container-fluid">
    <ul class="row">
        {% for item in props.songlist.items() %}
        <div class="card col-3 song-card {{ props.buildClass(props.delta(item[1].album.publishTime)) }}" style="width: 18rem;">
            
            <a href="https://music.163.com/album?id={{ item[1].album.id }}">
                <img onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;"
                    class="card-img-top" src="{{ item[1].album.blurPicUrl }}" alt="{{ item[1].album.name }} ">
            </a>
            <div class="card-body">
                <span class="badge badge-pill badge-primary">{{ item[0] }}</span>
                <h5 class="card-title"><a href="https://music.163.com/song?id={{ item[1].id }}" title={{ item[1].name }}>{{item[1].name
                        }}</h5></a>
                <p class="card-text"><a href="https://music.163.com/artist?id={{ item[1].artists[0].id}}" title={{item[1].artists[0].name}}>{{item[1].artists[0].name}}</a></p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"> © {{ item[1].album.company or 'N/A' }}</p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"> {{ props.ft(item[1].album.publishTime) }}</p>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"> 发行于 {{ props.delta(item[1].album.publishTime).days }} 天前</p>
                    </li>
                </ul>
            </div>
        </div>

        {% endfor %}
    </ul>

</div>

{% endblock %}