{% block tools %}

<style>

    .page-title {
        margin: 20px;
        font: 4em sans-serif;
    }

    .tools {
        margin: 0px 15px 0px 75px;
    }

</style>

<div class='tools'>
    
        <span class='badge badge-dark'>按发行日期显示</span>

        <div class="btn-group-toggle" role="group" data-toggle='buttons'>
            <label id='one_week' class="btn btn-info active">
                <input type="checkbox" checked autocomplete="off">本周
            </label>
            <label id='two_weeks'  class="btn btn-info active">
                <input type="checkbox" checked autocomplete="off">两周内
            </label>
            <label id='one_month' class="btn btn-info active">
                <input type="checkbox" checked autocomplete="off">一月内
            </label>
            <label id='three_months' class="btn btn-info active">
                <input type="checkbox" checked autocomplete="off">三月内
            </label>
            <label id='one_year' class="btn btn-info active">
                <input type="checkbox" checked autocomplete="off">一年内
            </label>
            <label id='two_years' class="btn btn-info active">
                <input type="checkbox" checked autocomplete="off">两年内
            </label>
            <label id='back_catalogue' class="btn btn-info active">
                <input type="checkbox" checked autocomplete="off">更久以前
            </label>
            
        </div>
    </div>

        <script>

            $('#one_week').click(function(){
                $('.one_week').toggle('fast');
            });
            $('#two_weeks').click(function(){
                $('.two_weeks').toggle('fast');
            });
            $('#one_month').click(function(){
                $('.one_month').toggle('fast');
            });
            $('#three_months').click(function(){
                $('.three_months').toggle('fast');
            });
            $('#one_year').click(function(){
                $('.one_year').toggle('fast');
            });
            $('#two_years').click(function(){
                $('.two_years').toggle('fast');
            });
            $('#back_catalogue').click(function(){
                $('.back_catalogue').toggle('fast');
            });

        </script>    

{% endblock %}