<html>

<head>
    <title>歌曲列表</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="always" name="referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://test-mu.sddix.com:52313/public/asserts/css/vendor/vendor.min.css" rel="stylesheet">
    <link href="http://test-mu.sddix.com:52313/public/asserts/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
<script src="http://test-mu.sddix.com:52313/public/asserts/js/vendor/es5-shim.min.js"></script>
<script src="http://test-mu.sddix.com:52313/public/asserts/js/vendor/es5-sham.min.js"></script><![endif]-->
    <!--[if lt IE 9]>
<script src="http://test-mu.sddix.com:52313/public/asserts/js/vendor/html5shiv.min.js"></script>
<script src="http://test-mu.sddix.com:52313/public/asserts/js/vendor/respond.min.js"></script><![endif]-->
    <style type="text/css">
        .toplist-btn-wrap {
            float: left;
            height: 64px;
            margin-left: 10px;
        }

        .toplist-btn-wrap button {
            height: 34px;
            line-height: 34px;
            background-color: #31c27c;
            color: #fff;
            border: none;
            box-shadow: none;
            width: 100px;
        }
    </style>
</head>

<body>
    <div class="main">

        <div class="toplist_nav">
            <dl class="toplist_nav_list">
                <dt class="toplist_nav_tit">网易云音乐排行榜</dt>

                <dd class="toplist_nav_item"><a href="https://y.qq.com/n/yqq/toplist/4.html#stat=y_new.toplist.menu.4"
                        class="toplist_nav_link toplist_nav_link--current">巅峰榜·流行指数</a></dd>

            </dl>

        </div>


        <div class="mod_toplist">
            <div class="toplist_hd">
                <strong class="toplist_tit">巅峰榜·流行指数</strong>
                <form action="http://test-mu.sddix.com:52313/list-0">
                    <div class="toplist-dp-wrap">
                      <input type="text" value="2018-12-09 " name="create_time" class="form-control bs-date-picker">
                    </div>
                      <div class="toplist-btn-wrap">
                        <button type="submit">查看</button>
                      </div>
                    </form>
            </div>


            <div class="mod_songlist">
                <ul class="songlist_header">
                    <li class="songlist_header_name">歌曲</li>
                    <li class="songlist_header_author">歌手</li>
                    <li class="songlist_header_time">唱片公司</li>
                </ul>

                <ul class="songlist_list">
                    <li mid="223940063" ix="0">
                        <div class="songlist_item" onmouseover="this.className=(this.className+' songlist_item--hover')"
                            onmouseout="this.className=this.className.replace(/ songlist_item--hover/, '')">

                            <div class="songlist_number  songlist_number--top">1</div>

                            <div class="songlist_songname">

                                <span class="songlist_songname_txt" style="visibility: visible;">
                                    <a href="https://y.qq.com/n/yqq/album/002aVGdm48gt3F.html" class="songlist_cover album_name"
                                        data-albummid="002aVGdm48gt3F" data-albumid="5429797"><img onerror="this.src='//y.gtimg.cn/mediastyle/global/img/album_300.png?max_age=31536000';this.onerror=null;"
                                            src="//y.gtimg.cn/music/photo_new/T002R150x150M000002aVGdm48gt3F.jpg?max_age=2592000"
                                            data-original="//y.gtimg.cn/music/photo_new/T002R150x150M000002aVGdm48gt3F.jpg?max_age=2592000"
                                            alt="蒙面唱将猜猜猜第三季 第7期" class="songlist_pic" style="display: block; visibility: visible;"></a>
                                    <a href="https://y.qq.com/n/yqq/song/003MNjHn3MgszW.html" class="js_song" title="雪落下的声音 (Live) ">雪落下的声音
                                        (Live)</a>

                                </span>

                            </div>

                            <div class="songlist_artist" title="周深">

                                <a href="https://y.qq.com/n/yqq/singer/003fA5G40k6hKc.html" data-singermid="003fA5G40k6hKc"
                                    data-singerid="199509" title="周深" class="singer_name">周深</a>

                            </div>

                        </div>
                    </li>
                </ul>

                <div class="mod_page_nav js_pager"><strong class="current">1</strong><a href="javascript:;" class="js_pageindex"
                        data-index="2" hidefocus="">2</a><a href="javascript:;" class="js_pageindex" data-index="3"
                        hidefocus="">3</a><a href="javascript:;" class="js_pageindex" data-index="4" hidefocus="">4</a><a
                        href="javascript:;" class="next js_pageindex" data-index="2" title="下一页" hidefocus=""><span>&gt;</span></a></div>
            </div>

        </div>

    </div>
</body>

</html>