{% block nav %}
    <div class="toplist_nav">
        <dl class="toplist_nav_list">
            <dt class="toplist_nav_tit">网易云排行榜</dt>

            <dd class="toplist_nav_item"><a href="/chart/rise"
                    class="toplist_nav_link toplist_nav_link--current">云音乐飙升榜</a></dd>
            <dd class="toplist_nav_item"><a href="/chart/new"
                    class="toplist_nav_link toplist_nav_link--current">云音乐新歌榜</a></dd>
            <dd class="toplist_nav_item"><a href="/chart/original"
                    class="toplist_nav_link toplist_nav_link--current">网易原创歌曲榜</a></dd>
            <dd class="toplist_nav_item"><a href="/chart/hot"
                    class="toplist_nav_link toplist_nav_link--current">云音乐热歌榜</a></dd>

        </dl>

    </div>
{% endblock %}