{% block toplist %}
<div class="mod_toplist">

    <div class="toplist_hd">
        {% set charts = {
        'rise': '云音乐飙升榜',
        'new': '云音乐新歌榜',
        'original': '网易原创歌曲榜',
        'hot': '云音乐热歌榜',
        } %}
        <strong class="toplist_tit">{{ charts[title] }} {{ day }}</strong>
        <form action="/chart/{{title}}">
            <div class="toplist-dp-wrap">
                <input type="text" value="{{today}}" name="day" class="form-control bs-date-picker">
            </div>
            <div class="toplist-btn-wrap">
                <button type="submit">查看</button>
            </div>
        </form>
    </div>
{% endblock %}